<section class="row home-cover">
  <div class="col-sm-6">
    <h2>
        Book unique flights and<br>
        experience your travel with<br>
        comfort and conveniency<br>
    </h2>
  </div>
</section>
<section class="flight-search-form">
  <%= render 'flights/search_form' %>
</section>
<div id="search-results" class="row"></div>
