<div class="col-sm-6">
  <h1>
    FLY <br>
    <small>
      Book unique flights and experience your travel with comfort and conveniency
    </small>
  </h1>
</div>
<%= render 'flights/search_form' %>
<div id="search-results" class="row"></div>