@import "bootstrap/custom";

.flight-card {
  margin-top: 40px;
  .card-body {
    background: $brand-primary;
    color: white;
    padding: 30px;
    &.today {
      background: $brand-success;
    }
  }
  .list-group-item, .card-footer {
    padding: 1.15em 1.25em;
  }
  .card-footer {
    background: white;
    border-top: none;
    border-radius: 0;
  }
}

.btn-light {
  background: $gray-light;
  color: white !important;
  transition: 0.4s ease-out all;
  &:hover {
    background: $brand-danger;
  }
}

.pagination {
  margin-top: 60px;
}